<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="[%date{YYYY-MM-dd HH:mm:ss}] %-5level %magenta(threadId:[%.15thread]) %logger{1} %msg%n"/>

    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <jmxConfigurator/>

</configuration>
